.formWrap {
    margin: 3rem auto 0;

    .link {
        display: block;
        width: 100%;
        margin: 1.5rem auto 0;
        color: black;
        text-align: center;
    
        a {
            color: black;
            text-decoration: none;
            display: block;
        }
        a:hover {
            color: green;
        }
        
    }
}