.adminToolbar {
    display: inline-block;
    width: 100%;
    background-color: black;
    height: auto;
    margin: 0 auto;
    padding: 5px 10px;
    text-transform: uppercase;
    
    .title {
        display: flex;
        float: left;
    }

    a {
        text-decoration: none;
        display: block;
        font-size: 1.6rem;
        line-height: 1;
        padding: 10px;
        transition: all .4s ease-in-out;
        
    }

    a:hover {
        color: green;
    }
}