.btn {
    display: block;
    
    background-color: #3e8e41;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 1.8rem;
    line-height: 1;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    outline: none;
    border: 0;
    cursor: pointer;
}

.btn:hover {
    color: white;
}