.header{
    height: 6.5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .1);

    .wrap {
        position: relative;
        height: 100%;
        max-width: 1450px;
        margin: 0 auto;
    }

    .logo {
        width: 18.0rem;
        position: absolute;
        top:50%; left: 20px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

    }

    img {
        display: block;
        width: 100%;
        margin: 0;
    }
    .navbar {
        // background-color: aqua;
        display: inline-block;
        padding: 5px;
        position: absolute;
        top: 50%; right: 10px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        
    
        ul, li {
            margin: 0;
            padding: 0;

            
        }

        li {
            
            list-style-type: none;
            display: inline-block;
            margin-right: 1.5rem;
            
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            &:last-child {
                margin-right: 0; 
            }

            a {
                font-size: 1.8rem;
                line-height: 1;
                color: green;
                text-decoration: none;
            }

            span {
                text-transform: uppercase;
                cursor: pointer;
                color: red;
            }

            .greeting {
                color: rgb(27, 179, 85);
                font-style: italic;
            }
        }
        
    }
}