.header{
    height: 20.5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .1);
    background-color: lightcyan;

    .wrap {
        position: relative;
        height: 100%;
        max-width: 1450px;
        margin: 0 auto;
    }

    .logo {
        width: 28.0rem;
        position: absolute;
        top:30%; left: 20px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

    }

    img {
        display: block;
        width: 100%;
        margin: 0;
    }
    .container {
        font-family: 'Times New Roman';
        font-style: bold;
        font-size: larger;
        margin-top: 10px;
        background-color: lightblue;
        position: absolute;
        width: 1450px;
        top: 65%;
        text-align: center;
        

        .column,
        .column1,
        .column2,
        .column3,
        .column4,
        .column5 {
            display: inline-block;
            padding: 5px;
            margin-left: 55px;
            cursor: pointer;
            text-transform: uppercase;

            a {
                text-decoration: none;
                padding: 10px;
                color: black;
            }
            a:hover {
                background-color: #3e8e41;
                color: white;
            }
            
        }
        

        
        .dropdown {
            position: relative;
            display: inline-block;
            margin-left: 55px;           
            
        }
        .dropbtn {
            margin: 0;
            color: black;
            border: none;
            padding: 16px;
            font-size: large;
            text-transform: uppercase;

            .triangle-down {
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid #555;
                display: inline-block;
            }
        }

        .dropdown-content {
            float: none;
            display: none;
            position: absolute;
            background-color: white;
            
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            
        }
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd;}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {display: block;
            text-transform: uppercase;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {background-color: #3e8e41;
        color: white;
        cursor: pointer;
        
        }
    }

    .navbar {
       
        display: block;
        padding: 5px;
        position: absolute;
        top: 50%; right: 10px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        
        .search,
        input {
            display: inline-block;
            padding: 5px;
            width: 250px;
           text-transform: uppercase;
           border: lightgray;
           border-radius: 2px;
        //    .magfi{
        //        display: inline-block;
        //        width: .5rem;
        //        height: .5rem;
        //    }
        }
        .cart {
            display: inline-block;
            text-transform: uppercase;
            font-family: 'Times New Roman, Times, serif';
            margin-left: 15px;
        }
        .stores,
        .contactUs {
                padding: 5px, 10px;
                display: inline-block;
                text-transform: uppercase;
                margin-left: 10px;
                margin-bottom: 65px;
                .triangle-down {
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 12px solid #555;
                    display: inline-block;
                }
        }
        .stores{
            cursor: pointer;
            h4 {
                font-size: medium;
                color: blue;
            }

            p {
                font-size: small;
            }
            input {
                font-size: small;
            }
            .dropdown {
                
                position: relative;
                display: inline-block;
                margin-left: 15px;           
                
            }
            .dropbtn {
                display: inline-block;
                margin: 0;
                color: black;
                border: none;
                padding: 16px;
                text-transform: uppercase;
    
                .triangle-down {
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #555;
                    display: inline-block;
                }
            }
    
                .dropdown-content {
                    float: none;
                    display: none;
                    
                    position: absolute;
                    background-color: white;
                    padding: 20px;
                    min-width: 250px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                
                 }
    
                .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                font-size: small;
                text-align: center;
                }
            /* Change color of dropdown links on hover */
            // .dropdown-content a:hover {background-color: #ddd;}
    
            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {display: block;
                text-transform: uppercase;
            }
    
           
        }
        }

            .register {
                margin-left: 1.5rem;
                position: absolute;
                top: -20%; right: 110px;
            }
            .login {
                position: absolute;
                top: -20%; right: 35px;
            }
        
            .register,
            .login {
                font-size: large;
                margin-right: 1.5rem;
                text-transform: uppercase;
                display: inline-block;
            }
            a {
                font-size: 1.8rem;
                line-height: 1;
                color: green;
                text-decoration: none;
            }
            .dashBtn {
                display: inline-block;
                margin-left: 1.5rem;
                
                position: absolute;
                top: -30%; right: 45px;

                a {
                    text-transform: uppercase;
                    font-size: small;
                }
            }
            span {
                text-transform: uppercase;
                cursor: pointer;
                color: red;
                display: inline-block;
                
                margin-left: 1.5rem;
                // margin-right: .5rem;
                font-size: small;
                position: absolute;
                top: -10%; right: 45px;
            }
            
            
            
        }
        
    
