.greeting {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: small;
    
    margin-right: 1.5rem;
    vertical-align: top;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 1.5rem;
    position: absolute;
    top: -30%; right: 120px;
    

}