.footer {
    text-transform: uppercase;
    text-align: center;
    max-width: 1450px;
    max-height: 268px;
    padding: 20px 10px;
    margin: .5rem auto 0;
    background-color: lightcyan;

    .address {
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        float: flex-start;
        // background-color: rgb(231, 243, 240);

        .column {
            display: inline-block;
            // border: 2px dashed red;
            margin-left: 15px;
            padding: 15px;
        }
    }

        .socialMedia {
            display: inline-block;
            max-width: 235px;
            
            subtitle,
            h5 {
                display: inline-block;
            }
        }
    .storeHours,
    .contactUs {
        float: flex-end;
        margin-left: 10px;
        padding: 10px;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        max-width: 235px;
        .sub {
            font-size: 15px;
            max-width: 235px;
        }
    }


   

    .aboy {
        width: 1450px;
        display: block;
        
        font-family: 'Times New Roman', Times, serif;
        padding: 25px;
    }
}