
.Homepage {
    padding: 60px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    width: 100%;
    margin: auto;
    max-width: 1450px;

        
           
        
        
    
  
    

    
    .services {
        margin: auto;
        padding: 10px;
        
        width: 925px;
        vertical-align: middle;
        
        

        .title {
            // border: 2px solid red;
            padding: 10px;
            font-family: 'Courier New', Courier, monospace;
        }

        .clmn {
            display: inline-block;
            // border: 2px solid black;
            // border-radius: 5px;
            font-style: bold;
            padding: 5px;
            margin-left: 15px;
            font-family: 'Courier New', Courier, monospace; 
        }

        .clmn:hover {
            color: green;
            font-style: italic;
            cursor: pointer;
        }
    }

}