
.Homepage {
    padding: 60px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    width: 100%;
    margin: auto;
    max-width: 1450px;

    .frame {
      border: black  solid 2px;
      max-width: 10225px;
      margin: auto;
      height: 400px;
      padding: 20px;
    } 
    
    .recentlyViewed,
    .justForYou {
      // border: black dashed 2px;
      max-width: 10225px;
      height: 350px;
      display: inline-block;
      margin: auto;
      // padding: 20px;
      margin-left: 25px;
      margin-top: 25px;

      .viewed,
      .forYou {
        // border: 2px dashed black;
        height: 208px;
        display: block;

        th {
          // border: 2px dashed black;
          height: 50px;
          
          width: 175px;
        }

        td {
          // border: 2px dashed black;
          height: 100px;
          padding: 5px;
          width: 175px;
          
          
        }

        td:hover {
          color:green;
          cursor: pointer;
        }
      }
    }
           
      .topCatTable {
          padding: 10px;
          width: 100%;
          text-align: center;
          margin: auto;
          tr {
              
            th {
                text-align: center;
            }
              td {
                //   border: 2px dashed black;
                  display: inline-block;
                  max-width: 100%;
                  padding: 15px;
                
                  a {
                      text-decoration: none;
                    padding: 10px;
                  }
                  a:hover {
                    
                    color: green;
                  }
                  h4 {
                    text-align: center;
                  }
                  h4:hover {
                      
                      font-style: bold;
                      
                  }
                 

                  img {
                      max-height: 100px;
                      max-width: 150px;
                      display: inline-block;
                      
                  }
              }
          }
      }  
        
    
  
    

    
    .services {
        margin: auto;
        margin-bottom: 50px;
        padding: 20px;
        
        width: 100%;
        vertical-align: middle;
        
        

        .title {
            // border: 2px solid red;
            padding: 10px;
            font-family: 'Times New Roman', Times, serif;
            font-style: bolder;
        }

        .clmn {
            display: inline-block;
            border: .5px solid black;
            // border-radius: 5px;
            font-style: bold;
            padding: 12px;
            margin-left: 15px;
            font-family: 'Times New Roman', Times, serif; 
        }

        .clmn:hover {
            color: green;
            
            cursor: pointer;
        }
    }

}